<!-- Views/Admin/AddUser.cshtml -->

@model TodoApp.Models.User

@{
    ViewData["Title"] = "Add User";
}

<h1>Add User</h1>

<form method="post" action="/Admin/AddUser">
    <label for="username">Username:</label>
    <input type="text" id="username" name="Username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="Password" required>
    <br>
    <input type="submit" value="Add User">
</form>
