<!-- Views/Home/Index.cshtml -->

@{
  ViewData["Title"] = "Home";
}

<h1>Welcome to TodoApp</h1>

<ul>
  <li><a href="/Admin/Login">Admin Login</a></li>
  <li><a href="/User/Login">User Login</a></li>
</ul>

